# Question 9
Write SQL queries on the below database table that return:

In [31]:
import sqlite3
con = sqlite3.connect('test.db')
cur = con.cursor()
cur.execute("CREATE TABLE conditions(City text, Country text,Season text,Temperature real,Rainfall real)")

In [4]:
cur.execute("INSERT INTO conditions VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO conditions VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO conditions VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO conditions VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.4)")

In [5]:
cur.execute("INSERT INTO conditions VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO conditions VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO conditions VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO conditions VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")

In [6]:
cur.execute("INSERT INTO conditions VALUES ('Cario', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO conditions VALUES ('Cario', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO conditions VALUES ('Cario', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO conditions VALUES ('Cario', 'Egypt', 'Fall', 22.2, 4.5)")

a) All the temperature data.

In [7]:
cur.execute("select Temperature from conditions")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [9]:
cur.execute("select City from conditions group by City")
cur.fetchall()

[('Cario',), ('London',), ('Mumbai',)]

c) All the records for India

In [10]:
cur.execute("select * from conditions where Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.4)]

d) All the Fall records

In [11]:
cur.execute("select Rainfall from conditions")
cur.fetchall()

[(5.9,),
 (16.2,),
 (1549.4,),
 (346.4,),
 (207.7,),
 (169.6,),
 (157.0,),
 (218.5,),
 (16.5,),
 (6.5,),
 (0.1,),
 (4.5,)]

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [21]:
cur.execute("select City,Country,Season from conditions where Rainfall between 200 and 400 ")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [25]:
cur.execute("select City,Country from conditions where Temperature>20 order by Temperature asc  ")
cur.fetchall()

[('Cario', 'Egypt'),
 ('Cario', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cario', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [40]:
cur.execute("select sum(Rainfall) from conditions ")
cur.fetchall()

[(None,)]

h) The total rainfall for each season.

In [33]:
cur.execute("select sum(Rainfall) from conditions where Season='Winter'")
cur.fetchall()

[(None,)]

In [34]:
cur.execute("select sum(Rainfall) from conditions where Season='Summer'")
cur.fetchall()

[(None,)]

In [41]:
cur.execute("select sum(Rainfall) from conditions where Season='Fall'")
cur.fetchall()

[(None,)]

In [42]:
cur.execute("select sum(Rainfall) from conditions where Season='Spring'")
cur.fetchall()

[(None,)]